.bannerCard {
  height: 200px;
  width: 350px;
  background-color: #2272ff;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}
.bannerCard:hover {
  transform: scale(1.1);
}
.bannerCard > img {
  height: 70px;
}
.bannerCard > h3 {
  color: #fff;
  font-size: 25px;
}

@media (max-width: 1024px){
  .bannerCard {
    height: 180px;
    width: 320px;
  }
  .bannerCard > img {
    height: 60px;
  }
  .bannerCard > h3 {
    font-size: 25px;
  }
}