.app{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 18, 30);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}