.ToDo {
  width: 100%;
  height: 100vh;
  background-color: rgb(40, 113, 137);
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    position: relative;
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding: 1rem 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0.7rem;
    gap: 1rem;
    h1 {
      background-color: rgb(97, 17, 162);
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .add-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      :nth-child(1) {
        border: none;
        text-align: center;
        background: transparent;
        border-bottom: 2px solid black;
        outline: none;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      :nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        outline: none;
        border: none;
        background-color: rgb(97, 17, 162);
        color: white;
        font-size: 23px;
        padding: 0;
        font-weight: 700;
        // margin: auto;
        
      }
    }
    ol{
      position: absolute;
      // display: flex;
      // flex-direction: column;
      left: 1rem;
      top: 9rem;
      // list-style-type: none;
     .list-style{
      display: flex;
      position: relative;
      right: 1rem;
      :nth-child(2){
        position: absolute;
        right: -10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        background-color: rgb(97, 17, 162);
        color: white;
        font-size: 11px;
        padding: 0;
        font-weight: 700;
        &:hover{
          background-color: red;
          cursor: pointer;
        }
      }
     }
    }
  }
}
